body {
  margin: 64px auto;
  width:640px;
  font-family: "Source Sans Pro";
  /*letter-spacing: -0.4px;*/
}
#basics {
  padding: 0 0 16px 0;
  border-bottom:1px solid #d9d9d9;
}
h1 {
  margin:0;
  font-family: "Lato";
  font-size: 48px;
  font-weight: 900;
  line-height:48px;
  color: #333333;
}
.desc {
  font-size: 20px;
  font-weight:300;
  color: #666;
  line-height:32px;
}
.contact {
  font-size:14px;
  font-weight: 300;
  color: #666666;
  line-height: 24px;
}
.summary {
  font-size: 18px;
  font-weight:100;
  color: #000000;
  line-height: 28px;
}
section {
  font-size: 16px;
  font-weight: 300;
}

section h2 {
  font-family: "Lato";
  font-weight:800;
  font-size: 14px;
  color: #FF4900;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 63px 0 31px 0;
  line-height: 17px
}
section ul li {
  margin-bottom:16px;
  line-height:24px;
}
section .item {
  margin-bottom:56px;
}
section .item p {
  margin: 8px 0;
}
#basics {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.logo {
  align-self: stretch;
}
#overview {
  font-size: 18px;
  color: #000000;
  line-height: 24px;
}
.date {
  font-size: 14px;
  font-weight:400;
  color: #999999;
  line-height:24px;
}
.position {
  font-size: 18px;
  font-weight:400;
  line-height:24px;
}
